content > p {
    font-size: calc(0.90 * var(--font-small));
    line-height: calc(0.90 * var(--line-height-small));
    width: 90%;
    /* margin-top: var(--margin); */
}

img {
    grid-row: 1 / 4;
}

.txt1 {
    grid-column: 2 / 4;
    margin-top: var(--margin);
    width: 100%
}

.txt2 {
    grid-column: 2;
}

.txt4 {
    grid-row: 3;
    grid-column: 3;
    margin-top: calc(2 * var(--margin));
}

.form {
    grid-column: 4;
    grid-row: 1;
    align-self: end;
}

footer {
    display: grid;
}

/* MEDIA QUERY */
@media screen and (max-width: 1000px) {
    content > p {
        font-size: var(--font);
        line-height: var(--line-height);
    }
    
    #logo {
        display: none;
    }

    img, .txt1, .txt2, .txt3, .txt4, .form {
        grid-column: 1;
        grid-row: inherit;
        margin-top: 0;
        width: unset;
    }

    img, .txt1, .txt2, .txt4 {
        width: 75%;
    }

    .txt3 {
        margin-left: 50%;
    }
}

/* 

    FORM 

    ––– IN PROGRESS 

*/
form {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: calc(0.9 * var(--font-small));
    grid-row: span 2;
}

input[type="text"],
textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #282828;
    background-color: transparent;
    
    margin-bottom: 20px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #282828;
}

/* Pozostawienie domyślnego koloru linii dla pól */
input[type="text"],
textarea {
    border-color: #282828;
}

/* Zmiana koloru linii dla nieprawidłowych pól po kliknięciu przycisku "Wyślij" */
form.invalid input:invalid,
form.invalid textarea:invalid {
    border-color: red;
}

textarea {
    resize: vertical;
    font: inherit;
}

::placeholder {
    content: "";
    color: var(--color-black);
    font-size: calc(0.9 * var(--font-small));
    font-family: Proximanova;
}

input[type="submit"] {
    display: block;
    width: auto;
    background-color: transparent;
    color: #282828;
    padding: 0px;
    border: none;
    cursor: pointer;
    font-size: inherit;

    color: var(--color-black);
    font-size: calc(0.9 * var(--font-small));
    font-family: Proximanova;
}
